<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project2.travelman"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.project2.travelman.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ActivitySearchLocal"
            android:label="@string/title_category_1" >
        </activity>
        <activity
            android:name="ActivitySearchLocalCities"
            android:label="@string/title_category_2" >
        </activity>
        <activity
            android:name="ActivitySearchLocalCitiesSpotDetail"
            android:label="@string/title_content" >
        </activity>
        <activity
            android:name="ActivitySearchLocalCitiesSpotCategory"
            android:label="@string/title_category_3" >
        </activity>
        <activity
            android:name="ActivitySearchLocalKeywords"
            android:label="@string/title_keyword" >
        </activity>
        <activity
            android:name="ActivitySearchLocalCitiesFavor"
            android:label="@string/button_favor" >
        </activity>
        <activity android:name="ActivityWeather" 
            android:label="@string/title_weather" >
        </activity>
        <activity android:name="ActivityWeatherDetail"
                  android:label="@string/title_weather" >
        </activity>
        <activity android:name="ActivityMap"
                  android:label="@string/title_map" >
        </activity>
        <activity android:name="ActivitySearchAround"
                  android:label="@string/title_around">
        </activity>
        <activity android:name="ActivitySearchAroundMap"
                  android:label="@string/title_map">
        </activity>

    </application>

</manifest>